<div class="row">
    <div class="col-md-4">
      <form action="" method="post" [formGroup]="productFormEdit" (ngSubmit)="onUpdate()">
        <legend> Form Edit </legend>
        <div class="form-group">
            <label for=""> Tên : </label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for=""> Giá : </label>
            <input type="text" class="form-control" formControlName="price">
        </div>
        <div class="form-group">
            <label for=""> Chi tiết : </label>
            <input type="text" class="form-control" formControlName="describe">
        </div>
        <div class="form-group">
            <label for=""> Link ảnh : </label>
            <input type="text" class="form-control" formControlName="image">
        </div>
        <button type="submit" class="btn btn-edit" style="margin-left: 300px"> Lưu lại
        </button>
      </form>
    </div>
 </div>