<div class="jumbotron text-center mt-3" style="margin-bottom:0; background-image: url(./assets/images/0122.jpg);">
  <div class="footer">
    <div class="row d-flex justify-content-center ">
      <h3> Baro Shop</h3>
      
    </div>
    <div class="row mt-4">
      <div class="col-sm-6 mb-3">
        <b>FB: </b> fb.com/thaibao2011999<br>
        <b>Email: </b> Ntbao.17it2@sict.udn.vn

      </div>
      <div class="col-sm-6 mb-3">
        <b>Phone: </b> 035 597 8064<br>
        <p><b>Adress :</b> 22 Hòa Nam 9 </p>
      </div>
    </div>
  </div>
</div>