<!DOCTYPE html>
<head>
    <script src="https://use.fontawesome.com/aefb9ecc2c.js"></script>
</head>
<div class="nav">
    <!-- nav pc  -->
    <nav class="nav_pc" style="width: 100%;">
        <ul class="nav_list">
            <li ><a href="" class="logo_nav"><i class="fa fa-gratipay" style="font-size: 35px;" aria-hidden="true"></i></a></li>
            <li ><a href="" class="logo_nav_text nav_link">MyShop</a></li>
            <li ><a href="" class="nav_link">Trang chủ</a></li>
            <li ><a href="" class="nav_link">Sản phẩm</a></li>
            <li ><a routerLink="/Declares" class="nav_link">Declares</a></li>
            <li class="cart_li_nav"><a routerLink="/cart" class="nav_link"><i class="fas fa-shopping-cart" ></i> Giỏ hàng</a></li>
        </ul>
    </nav>

    <label for="nav-mobile-input" class="nav_bars_btn">
        <i class="fas fa-bars"></i>
      
    </label>


    <input hidden type="checkbox" name="" class="nav_input" id="nav-mobile-input">


    <label for="nav-mobile-input" class="nav_overlay"> </label>

    <!-- nav mobile  -->
    <nav class="nav_mobile">
        <label for="nav-mobile-input" class="nav_mobile_close">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 352 512">
                <path fill="currentColor"
                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                </path>
            </svg>
        </label>
        <ul class="nav_mobile_list">
            <li><a href="" class="logo_nav"><i class="fab fa-pagelines" style="font-size: 40px;"></i> MyShop</a></li>
            <li><a href="" class="nav_mobile_link"><i class="fas fa-home"></i> Trang chủ</a></li>
            <li><a href="" class="nav_mobile_link"><i class="fas fa-box-open"></i> Sản phẩm</a></li>
            <li><a href="" class="nav_mobile_link"><i class="fas fa-envelope"></i> Liên hệ</a></li>
            <li><a href="" ><i class="fa fa-shopping-basket" aria-hidden="true"></i>Giỏ hàng</a></li>
        </ul>
    </nav>

</div>