/* sp  */
.products {
    padding: 20px 0;
    text-align: center;
  }
  
  .products div div {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
    background-color: #fff;
  }
  .tb-edit{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .tb-edit a{
    background-color: #f9a100;
  }
  .products div:hover div {
    margin-top: -10px;
    border: 1px solid rgba(104, 99, 99, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    transition: 0.5s;
    /* background: rgba(200, 200, 200, 0.1); */
    background-color: #fff;
  
  }
  
  .products .name{
   padding-top:10px ;
   padding-left:  10%;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
  }
  
  .dl-horizontal dt {
    margin-left: 10%;
    float: left;
    width: 20%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 550;
  }
  .dl-horizontal dd {
    margin-left: 0px;
    text-align: left;
    font-size: 14px;
  }

  .btn-end{
    position: relative;
    bottom: 10px;
  }